{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "google"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "max-len": "off",
    "require-jsdoc" : 0
  }
}
