@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url('../../fonts/gilroy/gilroy-medium-webfont.woff');
}

@font-face {
  font-family: 'Gilroy ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: url('../../fonts/gilroy/gilroy-extrabold-webfont.woff');
}

@font-face {
  font-family: "SFPro";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/sfpro/SFProDisplay-Regular.woff");
}
