.about-us {
  background: #2C2934;
  padding: 30px 40px 65px 40px;

  @include for-size('max', 'sm') {
    padding: 20px 20px 50px 20px;
  }

  @include for-size('max', 'xs') {
    padding: 15px 10px 40px 10px;
  }

  &__title {
    color: white;
  }

  &__info {
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    color: white;
    font-family: 'SFPro', sans-serif;

    @include for-size('max', 'sm') {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
