.advantages {

  &__wrap {
    border-top: 1px solid gray;
    padding: 35px 20px;

    @include for-size('max', 'xl') {
      padding: 15px 5px 45px;
    }

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include for-size('max', 'lg') {
      justify-content: space-around;
    }
  }

  &__list-item {
    text-align: center;
    width: 320px;
    padding: 15px 10px;
    list-style-type: none;
    font-family: 'SFPro', sans-serif;
  }

}
