@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";

@import "base/fonts";
@import "base/variables";
@import "base/mixins";

@import "blocks/header";
@import "blocks/about-us";
@import "blocks/advantages";
@import "blocks/footer";
@import "blocks/products";
@import "blocks/form";
@import "blocks/title";
@import "blocks/marketplace";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #2C2934, black);
  }
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}



